---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />

  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Featured projects</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
        <Feature
          icon="lucide:chart-area"
          title="E-commerce Sales Analysis"
          href="https://github.com/bonanastasia/TechHive_Retail_Analysis"
          description="TechHive is a global electronics company serving customers across 8 countries and 4 major regions. This analysis explores comprehensive data from 294K+ transactions to identify trends, customer behaviors, and growth opportunities for the company."
          tags="SQL, Python, Data Visualization"
        />
        <Feature
          icon="lucide:funnel"
          title="Customer Funnel Analysis"
          href="https://github.com/bonanastasia/GreenLeaf_Funnel_Analysis"
          description="Greenleaf Market is a mid-sized online plants and outdoor decor retailer. This in-depth funnel analysis uncovers key drop-offs in the customer journey and models how improving conversions could increase annual revenue by $300k."
          tags="Python, Plotly, Customer Journey"
        />
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
