---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import ExternalLink from '@components/ExternalLink.astro'
import { Accordion, AccordionItem, Avatar, AvatarGroup } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />

  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Featured projects</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
        <Feature
          icon="lucide:chart-area"
          title="Ecommerce data analysis"
          href="https://github.com/bonanastasia/TechHive_Retail_Analysis"
          description="A SQL and Python analysis of six years of e-commerce data for a consumer electronics retailer. The project explores sales, product, and customer trends to uncover drivers of growth, loyalty, and revenue performance."
        />
        <Feature
          icon="lucide:funnel"
          title="Customer funnel analysis"
          href="https://github.com/bonanastasia/GreenLeaf_Funnel_Analysis"
          description="A Python-based funnel analysis for a mid-sized online retailer of plants and outdoor decor. Using Pandas and visual analytics, the project uncovers key drop-offs in the customer journey and models how improving conversions could increase annual revenue."
        />
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
