---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/ana-home-headshot.jpg' }: Props = Astro.props
---

<section class="hero my-10">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
          <p class="barro-text text-3xl">Hi. Hello. How are ya?</p>
          <h1 class="contrast-text yamas-text">I'M ANA!</h1>
         <p>I’m a data analyst, storyteller, and technical writer based in Cardiff, Wales.</p>
         <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button" href="/portfolio">
            MY WORK
          </a>
          <a class="button" href="/about">
            ABOUT ME
          </a>
        </div>
      
      </div>
      <Image class="hidden lg:block" src={src} alt="" decoding="async" width={800} height={600} loading="eager" />
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .contrast-text {
    color: var(--link-color);
    font-weight: 500;
  }
  .button {
    flex-grow: 1;
  }

</style>
